
h1 > a {
    text-decoration: none;
}

table, th, td {
    border: 1px solid grey;
    background: #ffffcc;
}

th, td {
    padding: 1px 2px;
}

footer {
    border-top: 1px solid grey;
    display: flex;
    justify-content: space-between;
}

footer > address {
    margin: 1em 0; /* Make address same margin as a p tag*/
}