/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header > h1 {
    margin-bottom: 0; /* because margin collapse doesn't work now the h1 is in a flex box */
}

header > h1 > a {
    text-decoration: none;
}

header > nav {
    margin: 0;
    padding: 0;
}

header > nav > menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header > nav > menu > li {
    margin-left: 20px;
}

/* tables */

table, th, td {
    border: 1px solid grey;
    background: #ffffcc;
}

th, td {
    padding: 1px 2px;
}

footer {
    border-top: 1px solid grey;
    display: flex;
    justify-content: space-between;
}

footer > address {
    margin: 1em 0; /* Make address same margin as a p tag*/
}